<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <div class="col-12">
            <router-link class="btn btn-success" :to="{name: 'index'}">Regresar</router-link>
          </div>
          <div class="col-12">
            <h1>Estrellas de {{people.name}}</h1>
          </div>
          <div class="col-12 d-md-flex justify-content-between">
            <label for="filter" class="mb-0">
              Filtrar:
            </label>
            <input id="filter" type="text" v-model="filter" class="d-inline-block w-auto ml-2"/>
          </div>
        </div>
        <b-table head-variant="dark" striped borderless hover responsive :items="points" :fields="fields" :filter="filter" :per-page="perPage" :current-page="currentPage">
          <template v-slot:cell(actions)="data">

          </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :per-page="perPage"
          :total-rows="totalRows"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  props: {
    id: {
      default: null
    }
  },
  data(){
    return {
      people: '',
      points: [],
      fields: [
        { key: "points", label: "Estrellas" },
        { key: "created_at", label: "Añadida" },
      ],
      filter: "",
      currentPage: 1,
      perPage: 5
    }
  },

  mounted(){
    this.getPeopleInfo();
    this.getHistory()
  },

  computed:{
    totalRows(){
      return this.points.length;
    }
  },

  methods: {
    getPeopleInfo(){
      let url = `/people/${this.id}/info`;
      axios.get(url).then(response =>{
        this.people = response.data;
      }).catch(error =>{
        console.log(error);
      })
    },
    getHistory(){
      let url = `/people/${this.id}/points`;
      console.log(url);
      axios.get(url).then(response =>{
        console.log(response);
        this.points = response.data;
      }).catch(error =>{
        console.log(error);
      })
    }
  }
};
</script>

<style scoped>

</style>
