<template>
  <div class="container">
    <b-modal id="starsModal" title="Añadir" :hide-footer="true">
      <form @submit.prevent="addStars">
        <div class="form-group">
          <label for="stars">Selecciona cantidad de estrellas</label>
          <select id="stars" v-model="points" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="text-right">
          <button class="btn btn-success">
            Añadir estrellas
          </button>
        </div>
      </form>
    </b-modal>
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <div class="col-12 d-md-flex justify-content-between">
            <label for="filter" class="mb-0">
              Filtrar:
            </label>
            <input id="filter" type="text" v-model="filter" class="d-inline-block w-auto ml-2"/>
          </div>
        </div>
        <b-table head-variant="dark" striped borderless hover responsive :items="people" :fields="fields" :filter="filter" :per-page="perPage" :current-page="currentPage">
          <template v-slot:cell(actions)="data">
            <button class="btn btn-primary" @click="openStarsModal(data.item.id)">Añadir puntuacion</button>
            <router-link class="btn btn-success" :to="{name: 'history', params: {id: data.item.id}}">Historial de puntos</router-link>
          </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :per-page="perPage"
          :total-rows="totalRows"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Logo from '~/components/Logo.vue';
import toastr from 'toastr'
export default {
  components: {
    Logo
  },
  data(){
    return {
      fields: [
        { key: "name", label: "Nombre" },
        { key: "age", label: "Edad" },
        { key: "location", label: "Ciudad" },
        { key: "gender", label: "Genero" },
        { key: "prom", label: "Promedio estrellas" },
        { key: "actions", label: "Acciones" }
      ],
      filter: "",
      people: [],
      id: '',
      points: '',
      currentPage: 1,
      perPage: 5
    }
  },

  mounted(){
    this.getPeople();
  },

  computed:{
    totalRows(){
      return this.people.length;
    }
  },

  methods:{
    getPeople(){
      let url =  '/people';
      axios.get(url).then(response =>{
        let peoples = response.data;
        this.getPointsOfPeople(peoples);
      }).catch(error =>{
        console.log(error);
      })
    },

    async getPointsOfPeople(peoples){
      let peoplesWithProm = [];
      for(let people of peoples){
        let url = `/people/${people.id}/points`;
        await axios.get(url).then(response =>{
          let points = response.data;
          let prom = 0;
          for(let point of points){
            prom = prom + parseInt(point.points);
          }
          prom = prom/points.length;
          prom = Math.round(prom);
          people = Object.assign({prom: prom},people);
        }).catch(error =>{
          console.log(error);
        });
        peoplesWithProm.push(people);
      }
      this.people = peoplesWithProm;
    },

    openStarsModal(id){
      this.id = id;
      this.$bvModal.show('starsModal');
    },

    addStars(){
      let url = `/people/${this.id}/create/point`;
      axios.post(url,{points: this.points}).then(response =>{
        this.getPeople();
        toastr.success('Estrellas añadidas');
      }).catch(error =>{
        toastr.error('Ocurrio un error al añadir estrellas, intentalo de nuevo');
        console.log(error)
      }).finally(() =>{
        // Limpiamos y cerramos la modal
        this.$bvModal.hide('starsModal');
        this.points = '';
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
